.mainhead {
	width: 100%;
	background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189));
	height: 40rem;
	display: flex;
}
.cardpara{
    
    font-size: 20px;
  }
  .card-title{
    
    text-align: center;
    font-size:large;
  }
  .pilatestext{
	width: 70vh;
  }
.whycard{
    width: 70vh;
  }
.head1 {
	width: 250px;
	height: 40rem;
	
}
.head3 {
	width: 800px;
	height: 40rem;

	margin: 1rem;
}
.head4 {
	width: 600px;
	height: 40rem;
}
.img1 {
	margin-top: 3rem;
	animation: floatImage 4s ease-in-out infinite;
	width: 720px;
}
.img2 {
	width: 200px;
	height: 250px;
	margin-top: 25rem;
	animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-2.1rem);
	}
	100% {
		transform: translateY(0);
	}
}
.heading {
	font-size: 4rem;
	margin-left: 3rem;
	margin-top: 8rem;
	text-shadow: 2px 2px 5px black;
	
}
.span {
	color: green;
	text-shadow: 2px 2px 5px green;
}
.span1 {
	color: goldenrod;
	text-shadow: 2px 2px 5px goldenrod;
}
.detail {
	width: 100%;
	height: 52rem;
	background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189));
}
.detail-heading {
	font-size: 2.5rem;
	margin-left: 37rem;
	margin-top: 6rem;
	text-shadow: 2px 2px 5px black;
}
.detail-box {
	display: flex;
}
.detail-box1 {
	width: 600px;
	height: 800px;

	margin-left: 5rem;
}
.detail-box1 h1 {
	font-size: 3rem;
	margin-top: 2rem;
}

.heading3 {
	font-size: 3rem;
	margin-top: 2rem;
	font-weight: bold;
	color: black;
	margin-left: 2rem;
}
.heading4 {
	font-size: 2rem;
	color: black;
	margin-left: 2rem;
}
.heading5 {
	font-size: 1.5rem;
	color: black;
	margin-left: 2rem;
	margin-top: 1rem;
}
.pheading {
	color: grey;
	margin-left: 2rem;
	margin-top: 1rem;
	font-size: 1.2rem;
}
.pheading1 {
	color: grey;
	margin-left: 2rem;
	margin-top: 1rem;
}

.detail-box2 {
	width: 650px;
	height: 700px;
	/* background-color: rgb(137, 96, 46); */
	margin-left: 2rem;
	margin-top: 2rem;
}
.detail-content {
	width: 500px;
	height: 350px;
	background-image: url(https://templates.envytheme.com/aava/default/assets/images/about/about-img-1.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detail-content1 {
	margin-bottom: 2rem;
	margin-left: 6rem;
	height: 400px;
	height: 380px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-image: url(https://templates.envytheme.com/aava/default/assets/images/about/about-img-2.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
.cardy{
    width: 400px;
    height: 450px;
    margin: 1rem;
    margin-left: 2rem;
  }
.maincourses {
	width: 100%;
	height: 40rem;
	background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189));
}
.card {
	width: 400px;
	height: 400px;

	margin: 1rem;
	margin-left: 2rem;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.cardmain {
	display: flex;
	margin-left: 4rem;
	margin-top: 5rem;
}
.cardheading {
	font-size: 1.5rem;
	color: black;
	margin-left: 1rem;
	text-shadow: 2px 2px 5px black;
}

.cardbtn {
	width: 7rem;
	height: 2.5rem;
	color: white;
	/* background-color: rgb(57, 56, 56) ; */
	background-color: rgb(75, 73, 73);
	margin-top: 1rem;
	margin-left: 9rem;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardimg {
	width: 400px;
	height: 300px;
}
.blog{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}
.blog h1{
    color: black;
    text-shadow: 2px 2px 5px black;
   font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 46rem;   
}


.imgT{
    
      
       box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       box-shadow: 6px 6px 10px 10px goldenrod;
    
}
.mainblog2{
    width: 500px;
    height: 400px;
    
    margin: 1rem;
    margin-left: 6rem;
}
.mainblog2 h2{
                font-size: 3rem;
                margin-top: 5rem;
}
.mainblog{
    display: flex;
    margin-left: 13rem;
    margin-top: 5rem;
}
.play-btn{
    background: rgb(54, 50, 49);
    color: white;
    font-size: 30px;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    cursor: pointer;
  margin-top: 4rem;
    text-align: center;
    border-radius: 50%;
    margin-left: 4rem;
   
}

.play-btn i{line-height: 100px; margin-left: 10px; margin-bottom: 10px;}
.play-btn:before,.play-btn:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -10px;


    opacity: 0;
    border: 3px solid   goldenrod;
   animation: animate 1.5s linear infinite;
} 
.play-btn:after{
    animation-delay: 0.5s;
}
@keyframes animate{
    0%{
        transform: scale(.5);
    }
    50%{
       opacity: 1;
    }
   100%{
        transform: scale(1.5);
    }
}            

@media (max-width: 600px) {
	.heading{
	font-size: 9vw;
	}
	.detail-box1{
		display: flex;
		flex-direction: column;
	}
	.no-display{
		display: none;
	}
	.img2{
		display: none;
	}
	
	.head4 img{
		position: absolute;
		left: 0%;
		bottom: 20%;
		font-weight: 200;
		width: 200px;
	}
	.detail-box{
		display: flex;
		flex-direction: column;
	}
	.detail-heading{
		position: absolute;
		right: 30%;
		font-size: x-large;
	}
	.detail-content{
		width: 300px;
		
	}
	.detail-content1{
		width: 300px;
		position: relative;
		bottom: 15%;
		right: 10%;
	}
	.detail-box2{
	display: none;
	}
	
}
