body{
    background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
}
.maindiv{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
}
.maindiv1{
    /* background-color: aquamarine; */
    width: 500px;
    height: 500px;
    margin-left: 8rem;
   
}
.divcard{
   
}

.maindiv2{
 
    width: 400px;
    height: 500px;
    margin-left: 5rem;
   
}
.heroimg{
    width: 280px;
    height: 330px;
    /* margin-left: 2rem; */
    margin-top: 6rem;
    animation:  floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.8rem);
    }
    100%{
        transform: translateY(0);
    }
}
.heading{
           font-size: 3.3rem;
           font-weight: 2rem;
           text-shadow: 2px 2px 5px black;
           margin-top: 2rem;
           /* color: rgb(57, 56, 56); */
           color:black;
            /* text-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
            */
           
           
}
.para{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: rgb(57, 56, 56);
    margin-left: 2.5rem;
}
.btn1{
    background-color: aliceblue;
    height: 2.5rem;
   border-radius: 5px;
   color: white;
   width: 7rem;
  background-color: goldenrod;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 2rem;
}
.btn2{
    background-color: aliceblue;
    height: 2.5rem;
   border-radius: 5px;
   width: 7rem;
   margin: 1rem;
   color: white;
   background-color: rgb(75, 73, 73) ;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.maincard{
            height: 20rem;
            background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
            display: flex;
         
            width: 80%;
            margin-left: 9rem;
           
}
.divcor{
          width: 100%;
          height: 22rem;
          /* background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) ); */
          
          
         
         
}
.backimg{
            width: 440px;
            margin-left: 32rem;
            opacity: 0.5;
}


.card{
    width: 350px;
    height: 300px;
    /* background-color: gray; */
    margin: 1.5rem;
    margin-left: 6rem;
  
   
}
.card1{
    width: 400px;
    height: 300px;
    /* background-color: gray; */
    margin: 1.5rem;
  
   
}
.imgcard{
    width: 100%;
    height: 250px;
    transition: .5s ease;
   
}
.imgcard:hover{
    /* transform: scale(1.1); */
    transform: scale(1.1) rotate(20deg);
    border-radius: 15px;
}
.card2{
    width: 400px;
    height: 300px;
    /* background-color: gray; */
    margin: 1.5rem;
  
   
}
.heading7{
    color: black;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px black;
    margin-top: 4rem;
    justify-content: center;
    margin-left: 40rem;
}   
.heading8{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
   margin-left: 38rem;
   margin-top: 5rem;
   text-shadow: 2px 2px 5px black;
   
}  
.ourcourse{
    width: 100%;
    height: 24rem;
    background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
    display: flex;
    
    margin-bottom: 3rem;
    
}
.ourcourse1{
    width: 600px;
          height: 50rem;
         background-image: url(https://media.istockphoto.com/id/673457266/photo/young-asian-woman-practicing-yoga-at-yoga-healthy-sport-gym.jpg?s=612x612&w=0&k=20&c=lgyvUineK21C4ZejRFRPN2yb-Xsd7PvqXchNXS4tSzk=);
         background-repeat: no-repeat;
        margin-left: 5rem;

}
.ourcourse2{
    width: 700px;
    height: 20rem;
    /* background-color: rgb(171, 171, 189); */
    margin-left: 3rem;

}
.ourcourse2 h1{
 font-size: 1.1rem;
 margin-top: 8rem;

 color: rgb(57, 56, 56);

}
.ybtn{
    width: 11rem;
    height: 3rem;
    color: white;
    /* background-color: rgb(57, 56, 56) ; */
    background-color: rgb(75, 73, 73) ;
    margin-top: 1rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ybtn:hover{
      background-color: rgb(57, 56, 56) ; 
}
.heading9{
            color: rgb(29, 28, 28); 
            margin-left: 43rem;
            margin-top: 5rem;
            font-weight: 500;
          
}
.heading10{
   color: black;
    font-size: 2.5rem;
    margin-left: 28rem;
    margin-top: 3rem;
    text-shadow: 2px 2px 5px black;
    
}
.bigdiv{
    
    width: 100%;
    height: 220vh;
    background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
   
}
.bigdiv h3{
   
    color: rgb(29, 28, 28); 
    margin-left: 42rem;
    font-weight: 500;
    margin-top: 7rem;
}
.bigdiv h1{
   
    color: black;
    text-shadow: 2px 2px 5px black;
    font-size: 2.7rem;
    margin-top: 3rem;
    margin-left: 33rem;
}
.card11{
    width: 550px;
    height: 550px;
    background-color: rgb(159, 194, 224);
    margin-left: 11rem;
    margin-top: 4rem;
    background-image: url(https://askproject.net/savasa/wp-content/uploads/sites/19/2021/08/woman-practising-yoga-indoors-5EDJ8JT.jpg);
   background-repeat: no-repeat;
   background-size: contain;
}
.card12{
    margin-top: 4rem;
    width: 550px;
    height: 550px;
    background-color: rgb(16, 92, 159);
    margin-left: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://askproject.net/savasa/wp-content/uploads/sites/19/2021/08/yoga-K9QEMRY.jpg);
}
.bigdiv11{
    display: flex;
}
.content{
    width: 470px;
    height: 230px;
    margin-left: 2.6rem;
    
   margin-top: 25rem;
  
}
.card13{
    width: 550px;
    height: 550px;
    background-color: rgb(159, 194, 224);
    margin-left: 11rem;
    margin-top: 4rem;
   background-image: url(https://askproject.net/savasa/wp-content/uploads/sites/19/2021/08/yoga-meditation-5AC4LR8.jpg);
   background-repeat: no-repeat;
   background-size: contain;
}
.card14{
    margin-top: 4rem;
    width: 550px;
    height: 550px;
    background-color: rgb(16, 92, 159);
    margin-left: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://askproject.net/savasa/wp-content/uploads/sites/19/2021/08/woman-practising-yoga-at-home-3LBGE59.jpg);
   
}
.bigdiv11{
    display: flex;
}
.content{
    width: 470px;
    height: 230px;
    margin-left: 2.6rem;
   background-color: rgb(63, 66, 66);
   margin-top: 25rem;
  
}
.headingh5{
    font-size: 1.7rem;
    color: white;
    margin-left: 9rem;
    margin-top: 1rem;
    text-shadow: 2px 2px 5px white;
    
}
.readbtn{
    color: white;
    margin-left: 10rem;
    margin-top: 1.2rem;
    font-size: 1.2rem;
    text-decoration: underline;
}
.lorem{
    color: white;
    margin-top: 3rem;
    margin-left: 1rem;
}
.pricediv{
    width: 100%;
    height: 10vh;
    margin-top: 4rem;
   
  
    /* background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) ); */
   /* background-color: white; */

}
.span h1{
    width: 20rem;
    height: 5rem;
   margin-top: 3rem;
    margin-left: 40rem;
    text-shadow: 2px 2px 5px black;
    font-size: 3rem;
    color: black;
    opacity: 1;
}
.pricedivmain {
    width: 100%;
    height: 130vh;
    /* background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
     */
   
    
}
.priceheading{
    color: rgb(43, 42, 42);
    
    font-weight: 500;
    margin-top: 7rem;
    margin-left: 43rem;
}
.priceheading1{
    color: black;
    text-shadow: 2px 2px 5px black;
   font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 34rem;
}
.plan{
    display: flex;
    margin-top: 4rem;
   
}
.plan1{
    width: 390px;
    height: 630px;
    background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
    margin-top: 4rem;
    margin-left: 9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plan1:hover{
    border: 1px solid rgb(63, 66, 66);;
}
.plan2{
    width: 390px;
    height: 680px;
    background-color: rgb(63, 66, 66);
    margin-top: 4rem;
    margin: 1rem;
}

.plan3{
    width: 390px;
    height: 630px;
    background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
    margin-top: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
    
}
.plan3:hover{
    border: 1px solid rgb(63, 66, 66);;
}
.planh1{
           font-size: 1.5rem;
           color: black;
           margin-left: 7rem;
           margin-top: 3rem;
           font-weight: 500;
}
.planp{
    color: rgb(55, 52, 52);
    font-size: 1.1rem;
    margin-top: 3rem;
    margin-left: 3rem;
}
.planh2{
    margin-top: 3rem;
    margin-left: 6rem;
    font-size: 2.5rem;
    /* font-weight: bold; */

}
.planh3{
    margin-top: 1.5rem;
    margin-left: 9rem;
     
}
.ybtn1{
    width: 11rem;
    height: 3rem;
    color: white;
    /* background-color: rgb(57, 56, 56) ; */
    background-color: rgb(75, 73, 73) ;
    margin-top: 2rem;
    margin-left: 7rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ybtn1:hover{
      background-color: rgb(57, 56, 56) ; 
}
.planh11{
    font-size: 1.5rem;
   color: white;
    margin-left: 7rem;
    margin-top: 6rem;
    font-weight: 500;
}
.planpp{
color: white;
font-size: 1.1rem;
margin-top: 3rem;
margin-left: 3rem;
}
.planh22{
margin-top: 3rem;
margin-left: 6rem;
font-size: 2.5rem;
color: white;
/* font-weight: bold; */

}
.planh33{
    color: white;
margin-top: 1.5rem;
margin-left: 9rem;

}
.ybtn11{
width: 11rem;
height: 3rem;
background-color: white;
/* background-color: rgb(57, 56, 56) ; */
color: black ;
margin-top: 2rem;
margin-left: 7rem;
border: none;

}
.ybtn11:hover{
background-color: rgb(57, 56, 56) ; 
}

.blog{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}
.blog h1{
    color: black;
    text-shadow: 2px 2px 5px black;
   font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 46rem;   
}


.mainblog1{
      width: 500px;
      height: 500px;
      background-color: gray;
      background: url(https://askproject.net/savasa/wp-content/uploads/sites/19/2021/08/tabitha-turner-vuQP4z9B9Ac-unsplash-768x768.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      
       box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ;
       box-shadow: 6px 6px 10px 10px goldenrod;
    
}
.mainblog2{
    width: 500px;
    height: 400px;
    
    margin: 1rem;
    margin-left: 6rem;
}
.mainblog2 h2{
                font-size: 3rem;
                margin-top: 5rem;
}
.mainblog{
    display: flex;
    margin-left: 13rem;
    margin-top: 5rem;
}
.play-btn{
    background: rgb(54, 50, 49);
    color: white;
    font-size: 30px;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    cursor: pointer;
  margin-top: 4rem;
    text-align: center;
    border-radius: 50%;
    margin-left: 4rem;
   
}
.play-btn i{line-height: 100px; margin-left: 10px; margin-bottom: 10px;}
.play-btn:before,.play-btn:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -10px;


    opacity: 0;
    border: 3px solid   goldenrod;
   animation: animate 1.5s linear infinite;
} 
.play-btn:after{
    animation-delay: 0.5s;
}
@keyframes animate{
    0%{
        transform: scale(.5);
    }
    50%{
       opacity: 1;
    }
   100%{
        transform: scale(1.5);
    }
}            

@media only screen and (max-width: 500px){
    .maindiv{
                 display: flex;
                 flex-direction: column;
                 height: 70rem;
                 width: 400px;
    width: 344px;
    }
    .maindiv1{
        margin-left: 0;
        width: 300px;
    height: 355px;
        margin-left: 2rem;
       
        
    }
    .maindiv2{
               display: none;
                margin-top: 12rem;
                height: 300px;
                margin-left: 0;
    }
    .divcard{
        width: 300px;
        height: 90rem;
    }
    .maincard{
        display: flex;
        flex-direction: column;
       
        margin-left: 3rem;
        width: 300px;
    height: 59rem;
    }
    .card {
        width: 258px;
        height: 254px;
        margin: 1rem;
        margin-left: -3rem;
       
    }
    .card1 {
        width: 253px;
        height: 300px;
        /* background-color: gray; */
        margin: 1.5rem;
    }
    .card2 {
        width: 254px;
        height: 340px;
       
        margin: 1.5rem;
    }
    
      .heading7 {
        color: black;
        font-size: 2.5rem;
        margin-top: 4rem;
        justify-content: center;
        margin-left: 10rem;
      }
        .divcor{
            height: 20rem;
            width: 400px;
            margin-top: 3rem;
        }

}