@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
.all-container {
    margin-top: 8vh;
    padding: 0;
    box-sizing: border-box;
  }
  .banner {
    background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189) );
  }
  .abutton{
    background-color: goldenrod;
  }
  .buttoncode2{
    background-color: #4b4949;
  }
  .imgTransform{
    transition: transform 1s;
  }
  .imgTransform:hover{
    transform: scale(0.8);
  }
  .cardpara{
    
    font-size: 20px;
  }
  .cardy{
    width: 400px;
    height: 450px;
    margin: 1rem;
    margin-left: 2rem;
  }
  .me-title2{
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
   padding-right: 10vw;
    color: #595959; 
    
  }
  .card-title{
    
    text-align: center;
    font-size:large;
    font-weight: bold;
  }
  .hero{
    display: flex;
    flex-direction: row;
    height: 50vh;
  }
  .pilatesDesign{
    display: flex;
    flex-direction: row;

  }
  
.textDesign1{
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); 
  font-family: 'Cormorant Garamond';
}
.paraDesign1{
  font-size: 1.3rem;
  margin-top: 1rem;
  color: rgb(57, 56, 56);
}
.textshadow2{
  text-shadow: 1px 1px 2px black;
}
 .choose-us{
  margin-top: 15vh;
 }

 .textDesign2{
  font-family: 'Cormorant Garamond';
  color: #595959;
 }
 .heroimg{
  animation:  floatImage 4s ease-in-out infinite;
}
.chooseus{
  display: flex;
  flex-direction: row;
 
}
@keyframes floatImage{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-2.8rem);
  }
  100%{
      transform: translateY(0);
  }
}
.Description{
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center; 
}

.card{
  border:2px solid red;
  
}
@media (max-width: 520px) {
  .hero{
    padding-bottom: 70vh;
  }
  .paraDesign1{
    border: 2px solid gainsboro;
  }
  .whycard{
    width: 70vh;
  }
 
  .heroimg {
    display: none;
  }
  .me-title{
    width: 100vw;
    padding: 20vw;
  }
  .textDesign1{
    font-size: 6vw;
  }
  
  .paraDesign1{
    font-size: 5vw;
  }
  .cardpara{
   font-size: 4vw;
  }
  .pilates{
    display: flex;
    flex-wrap: wrap;
  }
.pilatestext{
  width: 80vw;
}

}

@media (max-width:1200px) {
  .whycard{
    width: 70vh;
  }
  .heroimg{
    display: none;
  }
  .cardbanner{
    width: 60vh;
  }
 
}
@media (max-width:800px){
  .chooseus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pilates{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .heroimg {
    display: none;
  }
}
