.imagePhoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.imgLogo{
    border: 1px solid black;
    border-radius: 5px;
}

.imgLogo:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
