/* Auth Page CSS */





/* User Details Page CSS */
input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.gymHeading{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    text-shadow: 5px 8px 5px #ccc;
    background: -webkit-linear-gradient(#0c86b6, #271cc0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}




/* Discount Page CSS */






/* Payment Page CSS */