.contact-container {
	overflow: hidden;
	padding: 3rem;
}
.contact-container img {
	height: 40vh;
	width: 100%;
	object-fit: cover;
}
.contact-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 2rem;
	height: 60vh;
}

.contact-content .contact-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/* gap: 2rem; */
	height: 290px;
	box-shadow: 2px 2px 5px black;
	border-radius: 12px;
}
.contact-content .contact-item img {
	height: 130px;
	width: 350px;
	object-fit: fill;
}

.contactUs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* flex-wrap: wrap; */
}

.contact-via-social {
	padding: 20px;

	border-radius: 10px;
	text-align: center;
	width: 50%;
	margin-right: 20px;
}

.contact-via-social h1 {
	color: black;
	font-size: 2rem;
	text-align: center;
	text-shadow: 2px 2px 5px black;
	padding: 1rem;
}
.contact-via-social h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 20px;
}

.social a {
	color: #ffffff;
	font-size: 1.5rem;
	transition: transform 0.3s ease, color 0.3s ease;
	position: relative;
}

.social a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	bottom: -6px;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.social a:hover {
	transform: translateY(-3px);
	color: black;
}

.social a:hover:before {
	transform: scaleX(1);
}
.contact-via-form {
	padding: 20px;
	border-radius: 10px;
	width: 50%;
}

.contact-via-form form {
	display: flex;
	flex-direction: column;
}

.contact-via-form input,
.contact-via-form button {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-via-form button {
	background-color: #f4f2f3;
	color: black;
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	cursor: pointer;
	text-decoration: none;
	border-radius: 5px;
	transition: transform 2s linear, background-color 2s ease;
	box-shadow: 2px 2px 5px black;
}

.contact-via-form button:hover {
	background-color: rgb(171, 171, 189);
	transform: scale(1.06);
}
@media (max-width: 768px) {
	.contact-container {
		padding: 2rem;
	}

	.contact-container img {
		height: 30vh;
	}

	.contact-content {
		flex-direction: column;
		height: auto;
		padding: 1rem;
	}

	.contact-content .contact-item {
		width: 80%;
		height: auto;
		margin: 1rem auto;
	}
}
@media (max-width: 768px) {
	.contact-via-social,
	.contact-via-form {
		width: 100%;
	}

	.contact-via-social h1 {
		font-size: 1.5rem;
	}

	.contact-via-form input,
	.contact-via-form button {
		padding: 8px;
		font-size: 1rem;
	}
}
@media (max-width: 1024px) {
	.contactUs {
		padding: 1rem;
	}

	.contact-via-social,
	.contact-via-form {
		width: 90%;
		margin: 1rem auto;
	}

	.social {
		margin: 10px;
	}
}
