@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--mainColor: #626280;
	--mainColorLight: #5767aa;
	--secondaryColor: rgb(75, 73, 73);
	--textColor: #1e1c1c;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	color: var(--mainColor);
	background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189));
}	
header img {
	height: 180px;
	width: 180px;
	border-radius: 10px;
}

nav a {
	margin: 0 1.5rem;
	color: black;
	text-decoration: none;
	font-weight: 500;
	padding: 10px;
	transition: transform 2s;
}

nav a:hover,
nav a.active {
	background-color: rgb(171, 171, 189);
	transform: translateY(-5px);
	border-radius: 5px;
	color: black;
}
.dropdown {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.dropdown-content {
	position: absolute;
	top: 90%;
	left: 0;
	border-radius: 4px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: none;
	background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189));
}

.dropdown.active .dropdown-content {
	display: block;
}

.dropdown-content a {
	display: block;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s;
}

.dropdown-content a:hover,
.dropdown-content a:active {
	background-color: rgb(75, 73, 73);
	color: white;
}

header .nav-btn {
	display: none;
}
.social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

@media only screen and (max-width: 1024px) {
	header {
		padding: 0 1rem;
	}
	header .nav-btn {
		visibility: visible;
		opacity: 1;
		display: block;

		/* padding: 5px;
		cursor: pointer;
		background: transparent;
		border: none;
		display: block;
		outline: none;
		color: var(--textColor);
		visibility: visible;
		opacity: 1;
		font-size: 1.8rem; */
	}

	nav a {
		margin: 0 1rem;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		color: azure;
		background: rgb(31, 30, 30);
		transition: 1s;
		transform: translateY(-100vh);
	}
	header .responsive_nav {
		transform: none;
		z-index: 1;
	}
	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
	nav a {
		font-size: 1.2rem;
		color: aliceblue;
	}
}

@media only screen and (max-width: 768px) {
	header {
		padding: 0 1rem;
	}

	.nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 60vh;

		width: 100%;
		background-color: var(--mainColor);
		transition: 0.5s;
		transform: translateX(-100%);
	}

	header .responsive_nav {
		transform: translateX(0);
	}

	.nav-close-btn {
		top: 1rem;
		right: 1rem;
	}

	nav a {
		font-size: 1.2rem;
	}

	.dropdown-content a {
		margin-top: 0.5rem;
	}

	.dropdown.active .dropdown-content {
		top: 100%;
		left: -10px;
		background-color: var(--mainColor);
	}
}

/* NavBar Centered CSS */



/* Enroll Now BTN CSS */
.enrollNowBTN {
	background-color: #f97316;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	transition: transform 0.3s;
	text-align: right;
}

.enrollNowBTN:hover {
	transform: scale(1.1);
	color: green;
	background-color: white;
	border: 1px solid green;
}

