footer {
	color: #555555;
	padding: 20px;
	background: linear-gradient(rgba(252, 248, 248, 0.523), rgb(171, 171, 189));
}

.footer_container {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
	justify-content: space-between;
	align-items: flex-start;
}
.footer_container .about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}



.footer_container .about img {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}



.footer_container .about .social {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.footer_container .about .social a {
	color: #ffffff;
	font-size: 1.5rem;
	transition: transform 0.3s ease, color 0.3s ease;
	position: relative;
}

.footer_container .about .social a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	bottom: -6px;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.footer_container .about .social a:hover {
	transform: translateY(-3px);
	color: black;
}

.footer_container .about .social a:hover:before {
	transform: scaleX(1);
}
.quicklinks ul,
.contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.quicklinks ul li,
.contact ul li {
	margin-bottom: 1rem;
	transition: transform 0.3s ease, color 0.3s ease;
}

.quicklinks ul li:hover,
.contact ul li:hover {
	color: #333333;
	font-weight: 600;
	transform: translateX(5px);
}
.footer_container > div {
	width: calc(25% - 1rem);
	margin-bottom: 2rem;
	padding: 0 1rem;
}

.about_us h2,
.quicklinks h2,
.contact h2,
.map h2 {
	margin-bottom: 1rem;
}

.map {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.map iframe {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 10px;
	padding: 5px;
}
@media only screen and (max-width: 1024px) {
	.footer_container {
		justify-content: center;
	}

	.footer_container > div {
		width: calc(33.33% - 1rem);
		margin-bottom: 1rem;
	}

	.map {
		height: 150px;
	}
}

@media only screen and (max-width: 768px) {
	footer {
		color: aliceblue;
		padding: 20px 10px 10vh 10px;
	}
	.footer_container {
		padding: 1rem 0.5rem;
	}

	.footer_container > div {
		width: 100%;
		margin-bottom: 1rem;
	}

	.map {
		height: 150px;
	}
}
@media only screen and (max-width: 480px) {
	footer {
		color: aliceblue;
		padding: 20px 10px 20vh 10px;
	}
	.footer_container {
		flex-direction: column;
	}

	.footer_container > div {
		width: 100%;
		margin-bottom: 1rem;
		padding: 0;
	}

	.map {
		height: 150px;
	}
}
